@font-face {
    font-family: "bold";
    src: url('./assets/fonts/instrument-sans-bold.woff2') format('woff2');
}
@font-face {
    font-family: "semi-bold";
    src: url('./assets/fonts/instrument-sans-semi-bold.woff2') format('woff2');
}
@font-face {
    font-family: "regular";
    src: url('./assets/fonts/instrument-sans-regular.woff2') format('woff2');
}
* {
    box-sizing: border-box;
    /* color:#fadbe1; */
    color: rgb(250, 251, 251);
    padding: 0;
    margin: 0;


}
#root {
    height:100vh;
    display: grid;
    display: grid;
    grid-template-areas:
        'header header header header'
        'image link link link ';
    grid-template-rows: auto 700px; 
    /* grid-template-columns: 1fr; */
    justify-content: space-around;
    gap: 20px;
    padding: 10px;
}

body {
    height: 120vh;
    background-image: linear-gradient(135deg, #FFA6B7 10%, #1E2AD2 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo, .pages,.btn-center,.no-link,.pvw-hd{
    font-family: "regular", sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}
header.edit-page, .pvw-hd {
    
    margin: 10px 0;
    font-family: "bold", sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.078);
    backdrop-filter: blur(60px);
    padding:10px 20px ;
    /* position: fixed; */
    width: 100%;
    height: 60px;
    grid-area: header;
    z-index: 5;
}

button {
    margin: 0;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.084);
    backdrop-filter: blur(50px);
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

button:hover {
    box-shadow: 0 0 10px 2px #eeeeee5c;
}
.link-area{
    overflow-y: scroll;
}

.link-area ,.link,.profile-data {
    display: none;
    grid-area: link;
    font-family: "semi-bold", sans-serif;
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(5px);  
    display: flex;
    flex-flow:column ;
    justify-content: space-evenly;
    gap: 25px;
    align-items:center;
    padding: 10px;

}
.link-add  {
    width: 90%;
    display: flex;
    flex-flow:column ;
    gap: 20px;
    text-align: start;

}

.lnk-info {
    width: 95%;
    display: flex;
    justify-content: space-between;
    
}

.data-field , .link {
    color: rgb(250, 251, 251);

    width: 90%;
}
.logo-area {
    /* grid-area: link; */
    display: flex;
    align-items: center;
    justify-content: center;


}
.logo-area >.logo {
    background-color: rgba(255, 255, 255, 0.112);
    backdrop-filter: blur(5px); 
    padding: 25px 35px;

}
.input-platform {
    width:70%;
    transition: border .3s ease;
    border: none;
    border-radius: 10px;
    color: #414251;
    padding: 10px ;
    padding-right: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.illustration-container,.prv-container{
    grid-area: image;
    height: 100%;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;

}
.prv-data{
    height: 85%;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-flow: column;
    background-color: #ffffff;

}
.prv-data > img {
    width: 124px;
    height: 124px;
    border-radius: 50%;

}
.prv-data > h1 , .prv-data > p{
    color: #414251;
}

.illustration {
    background: url('./assets/images/illustration-phone-mockup.svg') no-repeat center center/ cover;
    background-size: 270px;
    height: 100%;
    width: 500px;
}
.link-input {
    width:calc(70% - 10px);
    border: #FFA6B7 1px solid;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding:  0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    gap: 10px;
}

.input-platform:focus{
    outline: none;
}

.illustration > img {
    width:85px;
    height: 85px;
    border-radius: 50%;
    position: relative;
    top: 129px;
    left: 207px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.input-field ,.link{
    display: flex;
    width: 100%;
    /*text-align: center;
    */

    padding: 10px;
    align-items: center;
    justify-content: space-between;  
}

.picture{

}


.brd-rds {
    border-radius: 20px ;
    -webkit-border-radius: 20px ;
    -moz-border-radius: 20px ;
    -ms-border-radius: 20px ;
    -o-border-radius: 20px ;
}
